<footer id="site-footer" role="contentinfo" class="header-footer-group">
    <div class="section-inner">

		<div class="footer-credits">

            <p class="footer-copyright">
                &copy; 
                <% let year = new Date().getFullYear(); %>
                <%= year %>
                <a href="/">Gabriele Romanato</a>
            </p>
            <p class="powered-by-wordpress">
                <a href="https://wordpress.org/">Powered by WordPress</a>
            </p>

            <a class="to-the-top" href="#site-header">
                <span class="to-the-top-long">
                    To the top <span class="arrow" aria-hidden="true">&uarr;</span>
                </span>
                <span class="to-the-top-short">
                    Up <span class="arrow" aria-hidden="true">&uarr;</span>
                </span>
            </a>

        </div>
    </div>                
</footer>
</body>
</html>