<form role="search" aria-label="Search for:" method="get" class="search-form" action="/">
	<label for="search-form-1">
		<span class="screen-reader-text">Search for:</span>
		<input type="search" id="search-form-1" class="search-field" placeholder="Search …" value="" name="s">
	</label>
	<input type="submit" class="search-submit" value="Search">
</form>